/* Fonts style:
font-family: 'Merienda', cursive;
font-family: 'Ubuntu', sans-serif; */

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}


/* 980px / 16px = 61.25em */

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}


/* 460px / 16px = 28.75em */

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}


/* Start of body style */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merienda', serif;
}


/* End of body style */


/* The navigation bar */

.navbar {
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    overflow: hidden;
    background-color: #004c53;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}


/* Links inside the navbar */

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.logo {
    width: 6%;
    position: absolute;
    /* left: 40px;
    top: 20px; */
    left: 4%;
    top: 2%;
    position: fixed;
    z-index: 10;
}


/* End of navbar */


/* Start of Top site style */

.top-site {
    background-color: #f6fff5;
    position: relative;
    padding-top: 140px;
    padding-bottom: 330px;
    /* background-color: #FF634A; */
    /* background-image: linear-gradient(to right, rgb(227, 93, 91), rgb(229, 57, 53)); */
    /* background-image: linear-gradient(to right, rgb(237, 33, 58), rgb(147, 41, 30)); */
    /* background-color: #ca4f3f; */
    background-color: #f85f4d;
}

.title {
    margin: 30px auto 0 auto;
    font-size: 5rem;
    color: white;
    filter: opacity(90%);
}

.sub-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #032629;
}

h2,
h3 {
    color: #053b3f;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

.top-clouds {
    filter: opacity(45%) brightness(200%);
    position: absolute;
    right: 300px;
    top: 50px;
}

.mountain {
    position: absolute;
    left: 0;
    top: 20px;
    height: 110%;
    width: 100%;
    object-fit: contain;
    display: block;
}


/* End of Top site style */


/* Start of middle-site style */

.middle-site {
    /* background-image: linear-gradient(to right, rgb(237, 33, 58), rgb(147, 41, 30)); */
}


/* About */

.profile-pic {
    margin-top: 4%;
    width: 30%;
}

.profile-bio {
    width: 53%;
    margin: 0 auto 100px auto;
    text-align: center;
    line-height: 2;
    font-size: larger;
}


/* Skills */

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    font-size: large;
}

.skill-img1 {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.skill-img2 {
    width: 30%;
    float: right;
    margin-left: 30px;
}

.skill-img3 {
    width: 30%;
    float: left;
    margin-right: 30px;
}


/* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background-color: #f85f4d;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    font-size: 250%;
    color: white;
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}


/* "Automagic" image grid using no media queries */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    background: #004c53;
    border-radius: 50px;
    text-decoration: none;
}

.code {
    color: white;
    transition: color 0.3s ease-out;
}

.project:hover .project-title {
    color: #f85f4d;
    background-color: white;
}

.project:hover .code {
    color: #f85f4d;
    background-color: white;
}

.project-image {
    height: calc(100% - 15rem);
    width: 60%;
    object-fit: cover;
}

.project-title {
    color: white;
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 1px;
}

.btn-show-all {
    font-size: 2rem;
    background: #004c53;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    transition: transform 0.3s ease-out;
    color: white;
    text-decoration: none;
}

.btn-show-all:hover {
    background: white;
    color: #f85f4d;
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}


/* hr */

hr {
    border: dotted #f85f4d 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


/* Travel */

.travel {
    /* padding: 3rem; */
    line-height: 2;
}

.travel-head {
    font-size: 250%;
}

.travel-img {
    width: 130%;
    justify-content: center;
    padding: 5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.column {
    float: left;
    width: 33.33%;
    padding: 3.6%;
}


/* Clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* contact */

.contact-me {
    padding: 3rem 2rem;
    line-height: 2;
}

.contact-head {
    font-size: 250%;
}

.contact-img {
    width: 20%;
}


/* Contact button */

.contact-btn {
    background-color: rgb(221, 60, 57);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.contact-btn:hover {
    background-color: #004c53;
    border: solid #FFFFFF 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}


/* End of middle-site style */


/* Start of bottom-site style */

.bottom-site {
    background-image: linear-gradient(to right, rgb(227, 93, 91), rgb(229, 57, 53));
    line-height: 2;
    margin: 20px auto 0 auto;
    text-align: left;
}

.contact-links {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    color: white;
}

.contact-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

#contact-link {
    width: 6%;
    color: white;
}

.copyright {
    position: relative;
    text-align: center;
    right: 1%;
    bottom: 1px;
    color: white;
}


/* End of bottom-site style */